{{ if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "arch")) }}
pfetch
{{ end }}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# disable execute prompt in vi mode https://superuser.com/questions/928846/what-is-execute-on-the-command-line-and-how-to-i-avoid-it
bindkey -a -r ':'

HISTSIZE=110000
SAVEHIST=100000
HISTFILE=~/.zsh_history
setopt histignorealldups sharehistory extendedhistory

# Use modern completion system
autoload -Uz compinit
compinit

source ~/.zsh/env.zsh
source ~/.zsh/promptstyle.zsh
source ~/.zsh/aliases.zsh
source ~/.p10k.zsh
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
source ~/.zsh/zshplugins.zsh

eval "$(zoxide init zsh)"
source ~/.zsh/nvm.zsh
