[user]
    	email = {{ .email }}
	name = {{ .github_username }}
[init]
	defaultBranch = main
[difftool]
	prompt = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
