{{ if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "arch")) -}}
#!/bin/sh
if [[ $(command -v yay) != "0" ]]
then
  cd ~
  sudo pacman -Sy git --noconfirm
  git clone https://aur.archlinux.org/yay.git
  cd yay
  makepkg -si
  cd ..
  rm -rf yay
fi

sudo pacman -S cronie neovim jq bitwarden-cli vim git zsh htop cmatrix tmux wget cowsay lolcat fortune-mod alacritty ripgrep --noconfirm

yay -S google-chrome plex-media-player plexamp-appimage visual-studio-code-bin postman-bin

[[ ! ($(basename $SHELL) = 'zsh') ]] && chsh -s $(which zsh)
if [ ! -f ~/.ssh/id_ed25519 ]; then
  echo 'Hostname for ssh key eg. test@work.com'
  read hostname
  ssh-keygen -o -a 100 -t ed25519 -f ~/.ssh/id_ed25519 -C "$hostname"
  echo 'ssh Key generated: copy this to github'
  echo $(cat ~/.ssh/id_ed25519.pub)
fi
{{ end -}}


{{ if eq .chezmoi.osRelease.id "alpine" -}}
doas apk add cronie neovim jq vim git zsh htop cmatrix tmux wget alacritty ripgrep
if [ ! -f ~/.ssh/id_ed25519 ]; then
  echo 'Hostname for ssh key eg. test@work.com'
  read hostname
  ssh-keygen -o -a 100 -t ed25519 -f ~/.ssh/id_ed25519 -C "$hostname"
  echo 'ssh Key generated: copy this to github'
  echo $(cat ~/.ssh/id_ed25519.pub)
fi
{{ end -}}


{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep git jq bitwarden-cli vim htop cmatrix tmux cowsay fortune lolcat alacritty iterm2 visual-studio-code plex plexamp postman 

if [ ! -f ~/.ssh/id_ed25519 ]; then
  echo 'Hostname for ssh key eg. test@work.com'
  read hostname
  ssh-keygen -o -a 100 -t ed25519 -f ~/.ssh/id_ed25519 -C "$hostname"
  echo 'ssh Key generated: copy this to github'
  echo $(cat ~/.ssh/id_ed25519.pub)
fi

{{ end -}}
